@import "../../styles/colors.scss";

.incidents {
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;

    .incident-item {
        background-color: $light;
        border-radius: 3px;
        padding: 10px;

        .field {
            .incident-status {
                flex: 0 0 auto;
                background-color: $red;
                border: 1px solid darken($color: $red, $amount: 5%);
                color: white;
                padding: 5px;
                border-radius: 3px;

                &.resolved {
                    background-color: $green;
                    border: 1px solid darken($color: $green, $amount: 5%);
                }
            }
        }
    }
}
