@import "../../styles/colors.scss";

.incidents {
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;

    .incident-item {
        background-color: $light;
        border-radius: 3px;
        padding: 10px;

        .incident-updates {
            display: grid;
            grid-auto-rows: initial;
            align-items: auto;
            gap: 10px;

            h3 {
                font-weight: 600;
            }

            .incident {
                display: grid;
                grid-template-columns: fit-content(20%) 1fr;
                gap: 5px;
            }
        }

        .incident-status {
            flex: 0 0 auto;
            background-color: $red;
            border: 1px solid darken($color: $red, $amount: 5%);
            color: white;
            padding: 5px;
            border-radius: 3px;
            max-height: 1.5em;
            min-width: 100px;
            text-align: center;

            &.resolved {
                background-color: $green;
                border: 1px solid darken($color: $green, $amount: 5%);
            }

            &.investigating {
                background-color: $orange;
                border: 1px solid darken($color: $orange, $amount: 5%);
            }

            &.monitoring{
                background-color: $blue;
                border: 1px solid darken($color: $blue, $amount: 5%);
            }

            &.identified {
                background-color: $yellow;
                border: 1px solid darken($color: $yellow, $amount: 5%);
            }
        }
    }
}
